@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .input {
    @apply outline-none border-[#AE7AFF] border-[1px] p-2 h-[40px] focus-visible:ring-[#AE7AFF] focus-visible:ring-1 focus-visible:ring-offset-1 focus-visible:ring-offset-[#AE7AFF];
  }
  .button {
    @apply bg-[#AE7AFF] hover:bg-[#8E63E8] text-white p-2 rounded-md !important;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
